*{
    margin:0;
    padding: 0;
}
body{
    font-family: "微软雅黑",sans-serif;
}
.form-control{
    width:300px;
}
#homepage{
    height:400px;
    width:700px;
    border:1px solid rgba(0,0,0,0.1);
    box-shadow:1px 1px 1px 1px rgba(0,0,0,0.1);
    margin-top:100px;
    margin-left:200px;
}
.tabs{
    background:rgba(50,50,50,0.1);
    height:40px;
}
.tabs li{
    float:left;
    list-style:none;
    transition:all .3s linear;
}
.tabs li a{
    display:inline-block;
    font-size:14px;
    text-decoration:none;
    text-align:center;
    line-height:40px;
    padding:0 20px;
    color:rgba(0,0,0,0.5);
    /*border-right:1px solid rgba(0,0,0,0.1);*/
    /*border-bottom:1px solid rgba(0,0,0,0.1);*/
    box-sizing:border-box;
}

.tabs li a:hover{
    color:blue;
    transition:all .3s linear;
}
.container{
    position:relative;
    height:0;
}
.container1,.container2,.container3{
    height:350px;
    position:absolute;
    padding:15px;
    background:#fff;
}
.row{
    padding:10px;
}
.form-control{
    border:1px solid rgba(0,0,0,0.1);
}
label{
    font-weight:normal;
    font-family: "微软雅黑";
    font-size:12px;
}
button{
    margin-left:10px;
    margin-top:20px;
}