body{
    margin:0;
    padding:0;
}

a{
    text-decoration:none;
    font-size:.875rem;
}
#container{
    margin-top:0;
    padding-top:0;
    height:100%;
    /*width:100%;*/
    display:flex;
    justify-content:space-between;
}
#nav-left{
    /*background:#3967d4;*/
    width:16%;
    height:100%;
    box-shadow:1px 1px 1px rgba(0,0,0,0.1);
}
#container-right{
    /*background:blue;*/
    width:84%;
    height:100%;
    float:left;
    position:relative;
}
.navbar a{
    display:block;
    height:50px;
    padding:12px 15px;
    color:#000;
    margin-left:-1px;
    text-decoration:none;
    font-size:14px;
}
#nav li{
    list-style:none;
}
#nav .navbar{
    padding-left:0;padding-top:0;
    font-size:.875rem;
}
li.sidebar-item:not(.nav-small) a:hover{
    background-image:linear-gradient(to right,#2696f1,#7b8ce2);
    color:#fff;
    cursor:pointer;
    transition:all .3s linear;
}
a.active{
    background-image:linear-gradient(to right,#2696f1,#7b8ce2);
    color:#fff;
}
#nav .nav-small{
    height:50px;
    line-height:50px;
    font-size:12px;
    color:#686a76;
    opacity:0.5;
    margin-top:10px;
    padding-left:15px;
}
.nav-child{
    /*display:none;*/
    height:0;
    overflow:hidden;
    transition:all .3s linear;
}
.show{
    /*display:block;*/
    /*height:200px;*/
    transition:all .3s linear;
}
.nav-child>li>a{
    margin-left:-5px;
    font-size:12px;
    display:block;
    /*transition:all 1s linear;*/
}
.nav-child span{
    margin-left:10px;
}